{% extends "_base.html" %}

{% block content %}
<body style="background-color: #ccc;">
    <div class="container-fluid my-4">
        <div class="card">
            <div class="card-header text-center">
                <h4 class="font-weight-bold">Annual Leave</h4>
            </div>
            <div class="card-body">
                <div class="row mb-3">
                    <div class="col-sm-3 ml-auto">
                        <div class="d-flex justify-content-center align-items-center">
                            <label for="year" class="mr-2 font-weight-bold">Year:</label>
                            <select id="year" name="year" class="custom-select mr-2">
                                <option value="{{ year }}">2024</option>
                                {% for year in range(2023, 2000, -1) %}
                                <option value="{{ year }}">{{ year }}</option>
                                {% endfor %}
                            </select>
                            <button type="submit" name="yearform" value="yearform" class="btn btn-primary btn-sm">Submit</button>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row  mb-3">
                    <div class="col-sm-4">
                        <label for="entire" class="font-weight-bold">Entire:</label>
                        <span id="entire">12</span> days
                    </div>
                    <div class="col-sm-4">
                        <label for="used" class="font-weight-bold">Used:</label>
                        <span id="used">4</span> days
                    </div>
                    <div class="col-sm-4">
                        <label for="remaining" class="font-weight-bold">Remaining:</label>
                        <span id="remaining">8</span> days
                    </div>
                </div>
                <hr>
                <div class=" mb-3">
                    <label type="button" for="addtasks" class="btn btn-success btn-sm mr-1" style="width: 100px;">Add</label> 
                    <label type="button" for="removetasks" class="btn btn-danger btn-sm" style="width: 100px;">Delete</label>
                    <label type="button" for="recalltasks" class="btn btn-primary btn-sm mr-1" style="width: 100px;">Recall</label>
                    <label type="button" for="savetasks" class="btn btn-primary btn-sm mr-1" style="width: 100px;">Save</label>
                    <label type="button" for="submittasks" class="btn btn-primary btn-sm mr-1" style="width: 100px;">Submit</label>
                </div>
                <hr>
                <p class="font-weight-bold text-center">List of Annual Leave Days</p>
                <table id="mytable" class="table table-bordered table-hover "  >
                    <thead style="background-color: #ccc;table-layout: fixed;" class="text-center ">
                        <tr>
                            <th><input type="checkbox" id="selectAll"></th>
                            <th>Project Code </th>
                            <th>Project Name </th>
                            <th>Task</th>
                            <th>Component</th>
                            <th>Start Date</th>
                            <th>End Date</th>
                            <th>Days</th>
                            <th>Status</th>
                            <th>Comment</th>
                        </tr>
                    </thead>
                    <tbody>
                        <form method="post">
                            <button id="addtasks"  type="submit" name="addtasks" value="addtasks" hidden>Add Tasks</button>
                            <button id="removetasks"  type="submit" name="removetasks" value="removetasks" hidden>Remove Tasks</button>
                            {% for project in annualleavelist %}
                                <tr>
                                    <td class="text-center"><input type="checkbox" name="checkbox" value="{{project[0]}}"></td>
                                    <td class="text-center">{{project[1]}}</td>
                                    <td>{{project[2]}}</td>
                                    <td class="text-center">{{project[3]}}</td>
                                    <td class="text-center">{{project[4]}}</td>
                                    <td class="text-center">{{project[5]}}</td>
                                    <td class="text-center">{{project[6]}}</td>
                                    <td >{{project[7]}}</td>
                                    <td> {{project[8]}}</td>
                                    <td>...</td>
                                    <!-- <td class="text-center">
                                        <a href="#" style="color:#858796" >
                                        <i class="fas fa-edit"></i> 
                                        </a>
                                    </td> -->
                                </tr>
                            {% endfor %}
                            <button  type="submit" id="recalltasks" name="recalltasks" value="recalltasks" hidden>Recall</button>
                            <button  type="submit" id="savetasks" name="savetasks" value="savetasks" hidden>Save</button>
                            <button  type="submit" id="submittasks" name="submittasks" value="submittasks" hidden>Submit</button>
                        </form>
                    </tbody>
                </table>
                <!-- end card body -->
            </div>
            <!-- end card -->
        </div>
        <!-- end container -->
    </div>
</body>
<script>
    const selectAllCheckbox = document.getElementById("selectAll");
    const checkboxes = document.querySelectorAll("table input[type='checkbox']");

    selectAllCheckbox.addEventListener("change", () => {
        checkboxes.forEach((checkbox) => {
            checkbox.checked = selectAllCheckbox.checked;
        });
    });
</script>
{% endblock %}
