{% extends "core/user_profile.html" %}

{% block content_body %}
          
<!-- child template -->

<div class="col-lg-8">
  <div class="card mb-4">
    <div class="card-body">
      <form role="form" action="/employeepage/informationuserjob/employeerelativelist/addemployeerelationship/{{ informationuserid }}" method="post">
        {{ form.csrf_token }}
        
        <div class="form-group">
          <label for="relationship">Relationship</label>
          <input type="text" id="relationship" name="Relationship" placeholder="Enter Relationship" class="form-control mb-2">
        </div>
        
        <div class="form-group">
          <label for="relativetype">Relationship type</label>
          <select id="relativetype" name="relativetype" class="form-control mr-2 align-self-stretch form-select-sm">
            {% for type in relativetype %}
              <option value="{{ type[0] }}">{{ type[1] }}</option>
            {% endfor %}
          </select>
        </div>

        <div class="form-group">
          <label for="phone">Phone Number</label>
          <input type="text" id="phone" name="phone" placeholder="Enter Phone Number" class="form-control mb-2">
        </div>
  
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" id="email" name="email" placeholder="Enter Email" class="form-control mb-2">
        </div>
  
        <div class="form-group">
          <label for="contactaddress">Contact Address</label>
          <input type="text" id="contactaddress" name="contactaddress" placeholder="Enter Contact Address" class="form-control mb-2">
        </div>
  
        <div class="form-group">
          <label for="career">Career</label>
          <input type="text" id="career" name="career" placeholder="Enter Career" class="form-control mb-2">
        </div>
  
        <div class="form-group">
          <label for="citizenIdentificationNo">Citizen Identification No</label>
          <input type="text" id="citizenIdentificationNo" name="citizenIdentificationNo" placeholder="Enter Citizen Identification No" class="form-control mb-2">
        </div>
  
        <div class="form-group">
          <label for="fullname">Full Name</label>
          <input type="text" id="fullname" name="fullname" placeholder="Enter Full Name" class="form-control mb-2">
        </div>
  
        <div class="form-group">
          <label for="dateofbirth">Date Of Birth</label>
          <input type="date" id="dateofbirth" name="dateofbirth" placeholder="Enter Date Of Birth" class="form-control mb-2">
        </div>
  
        <div class="form-group">
          <label for="placeofbirth">Place Of Birth</label>
          <input type="text" id="placeofbirth" name="placeofbirth" placeholder="Enter Place Of Birth" class="form-control mb-2">
        </div>
  
        <div class="form-group">
          <label for="address">Address</label>
          <input type="text" id="address" name="address" placeholder="Enter Address" class="form-control mb-2">
        </div>
  
        <div class="form-group">
          <label for="issued">Issued On</label>
          <input type="date" id="issued" name="issued" placeholder="Enter Issued On" class="form-control mb-2">
        </div>
        
        <br>
        <div class="row">
          <button type="submit" class="btn btn-success ml-auto">Save</button>
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock %}
