{% extends "core/user_profile.html" %}

{% block content_body %}
<div class="col-lg-8">
  <div class="card mb-4">
    <div class="card-body">
        <div class="row mb-3">
            <div class="col-sm-3">
              <label class="mb-0" for="fullname">ID Contract</label>
            </div>
            <div id="edit_mode_Fullname_show" class="col">
              <p class="text-muted mb-0">{{ contract.idcontract }}</p>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-sm-3">
              <label class="mb-0" for="fullname">Labor Contract No</label>
            </div>
            <div id="edit_mode_Fullname_show" class="col">
              <p class="text-muted mb-0">{{ contract.LaborcontractNo }}</p>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-sm-3">
              <label class="mb-0" for="fullname">Labor Contract Type</label>
            </div>
            <div id="edit_mode_Fullname_show" class="col">
              <p class="text-muted mb-0">{{ contract.Laborcontracttype }}</p>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-sm-3">
              <label class="mb-0" for="fullname">Labor Contract Term</label>
            </div>
            <div id="edit_mode_Fullname_show" class="col">
              <p class="text-muted mb-0">{{ contract.Laborcontractterm }}</p>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-sm-3">
              <label class="mb-0" for="fullname">Commencement Date</label>
            </div>
            <div id="edit_mode_Fullname_show" class="col">
              <p class="text-muted mb-0">{{ contract.Commencementdate }}</p>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-sm-3">
              <label class="mb-0" for="fullname">Position</label>
            </div>
            <div id="edit_mode_Fullname_show" class="col">
              <p class="text-muted mb-0">{{ contract.Position }}</p>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-sm-3">
              <label class="mb-0" for="fullname">Employee Level</label>
            </div>
            <div id="edit_mode_Fullname_show" class="col">
              <p class="text-muted mb-0">{{contract.Employeelevel}}</p>
            </div>
        </div>
          
        
        </div>
    </div>
</div>
{%endblock%}