{% extends "core/user_profile.html" %}

{% block content_body %}
              <!-- child template -->
<div class="col-lg-8">
    <div class="card mb-4">
        <div class="card-body">
            {% if readrights=='4' or readrights==None %}
              <h1>Upload Education Background</h1>
              <form accept-charset="UTF-8" action="/upload_education/{{informationuserid}}" enctype="multipart/form-data" method="POST" target="_blank">
                <div class="form-group">
                  <label for="typeDegree">Degree Type</label>
                  <input type="text" name="typeDegree" class="form-control" id="typeDegree" placeholder="Enter your type Degree" required="required">
                </div>
                <hr>
                 <div class="form-group mt-3">
                     <label class="mr-2">Upload your Education Degree:</label>
                     <input type="file" name="fileeducation">
                 </div>
                 <hr>
                 <button type="submit" class="btn btn-primary">Upload</button>     
              </form>
         
              <br>
              {% endif %}
             <div class="row">
                 <div class="col-sm-6 mb-2">
                     <p class="mb-0" style="color:red">The Education Degree list</p>
                 </div>
             </div>
             
             <!-- Display existing records -->
             {% if temp %}
                 <table class="table">
                     <thead>
                         <tr>
                             <th style="text-align: center;">Document No</th>
                             <th style="text-align: center;">Degree Type</th>
                             <th style="text-align: center;">File Name</th>
                             <th style="text-align: center;">Dowload</th>
                             <th style="text-align: center;">Delete</th>
         
                         </tr>
                     </thead>
                     <tbody>
                         {% for record in temp %}
                             <tr>
                                 <td style="text-align: center;">{{ record[0] }}</td>
                                 <td style="text-align: center;">{{ record[1] }}</td>
                                 <td style="text-align: center;">{{ record[2] }}</td>
                                 <td style="text-align: center;">
                                   <a href="{{ record[3] }}" target="_blank">Dowload</a>
                                 </td>
                                 <td style="text-align: center;">
                                   <a href="/deleteEducation/{{informationuserid}}/{{ record[0] }}"
                                   style="color:#f04d3b;text-align: center">
                                    <i class="fas fa-times-circle" ></i>
                                 </a>
                                 </td>
         
                             </tr>
                         {% endfor %}
                     </tbody>
                 </table>
             {% else %}
                 <p>No documents available.</p>
             {% endif %}
         
          </div> 
        </div>
    </div>
</div>
         
  </section>
{%endblock %}




