{% extends "core/user_profile.html" %}

{% block content_body %}
<div class="col-lg-8">
  <div class="card mb-4">
    <nav class="navbar navbar-light bg-light">
      <form class="form-inline">
        <button class="btn btn-sm btn-outline-secondary mr-1" onclick="combination('/informationuserjob/{{informationuserid}}','informationJob')" type="button">Information Job</button>
        <button class="btn btn-sm btn-outline-secondary mr-1" onclick="combination('/informationuserjob/{{informationuserid}}','Insurance')" type="button">Insurance</button>        

        {% if readrights=='3' or readrights=='4' or readrights ==None %}
        <button class="btn btn-sm btn-outline-secondary mr-1"  onclick="location.href='/employeepage/informationuserjob/laborcontract/{{informationuserjobid}}/{{informationuserid}}'" type="button">Contract</button>
        <button class="btn btn-sm btn-outline-secondary"  onclick="location.href='/employeepage/informationuserjob/forexsalary/{{informationuserjobid}}/{{informationuserid}}'" type="button">Forex Salary</button>
        {% endif %}
      </form>
    </nav>

    <div class="card-body">
        <div class="row mb-3">
            <div class="col-sm-3">
              <label class="mb-0" for="fullname">Forex Type</label>
            </div>
            <div id="edit_mode_Fullname_show" class="col">
              <p class="text-muted mb-0">{{ forexSalary.Forex }}</p>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-sm-3">
              <label class="mb-0" for="fullname">Annual Salary</label>
            </div>
            <div id="edit_mode_Fullname_show" class="col">
              <p class="text-muted mb-0">{{ forexSalary.Annualsalary }}</p>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-sm-3">
              <label class="mb-0" for="fullname">Monthly Salary</label>
            </div>
            <div id="edit_mode_Fullname_show" class="col">
              <p class="text-muted mb-0">{{ forexSalary.Monthlysalary }}</p>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-sm-3">
              <label class="mb-0" for="fullname">Monthly Salary In Contract</label>
            </div>
            <div id="edit_mode_Fullname_show" class="col">
              <p class="text-muted mb-0">{{ forexSalary.Monthlysalaryincontract }}</p>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-sm-3">
              <label class="mb-0" for="fullname">Quarterly Bonus Target</label>
            </div>
            <div id="edit_mode_Fullname_show" class="col">
              <p class="text-muted mb-0">{{ forexSalary.Quaterlybonustarget }}</p>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-sm-3">
              <label class="mb-0" for="fullname">Annual Bonus Target</label>
            </div>
            <div id="edit_mode_Fullname_show" class="col">
              <p class="text-muted mb-0">{{ forexSalary.Annualbonustarget }}</p>
            </div>
        </div>
          
        
        </div>
    </div>
</div>
        
<script>
  function combination(href,value)
  {
    window.location.href = href;
    localStorage.setItem("sectionName", value);
  }
</script>
      
{% endblock %}
