{% extends "core/user_profile.html" %}

{% block content_body %}
          
<!-- child template -->
{{form.csrf_token}}

<div class="col-lg-8">
    <div class="card mb-4">
      <div class="card-body">

        <form action="/edit_userInformation/Fullname/{{informationuserid}}" role="form" method="POST">
          <div class="row">
              <div class="col-sm-3">
                  <label for="fullname" class="mb-0">Full Name</label>
              </div>
              <div class="col-sm-9" id="Fullname-container">
                    <div id="edit_mode_Fullname_edit" style="display: none;" >
                      <div class="row">
                        <div class="col">
                            <input type="text" id="Fullname" name="Fullname" class="form-control" placeholder="{{form.Fullname}}">
                        </div>
                        <div class="col-auto ml-auto"> 
                            <div class="d-flex">
                                <button type="submit" class="btn btn-primary mr-2">Save</button> 
                                <button type="button" onclick="cancelEdit('Fullname')" class="btn btn-danger">Cancel</button>
                            </div>
                        </div>
                    </div>
                    
                    </div>

                    <div id="edit_mode_Fullname_show">
                      <p class="col text-muted mb-0">
                          {{form.Fullname}}
                          {% if readrights == 4 or readrights == None %}
                              <span class="float-right">
                                  <i class="fas fa-edit edit-icon edit_icon" onclick="enableEdit('Fullname','{{form.Fullname}}')"></i>
                              </span>
                          {% endif %}
                      </p>
                  </div>

                </div>
          </div>
      </form>
        
        <hr>
        <form action="/edit_userInformation/Nickname" role="form" method="POST">
          <div class="row">
            <div class="col-sm-3">
              <label for="Nickname" class="mb-0">Nickname</label>
            </div>
            <div class="col-sm-9" id="Nickname-container">

              <div id="edit_mode_Nickname_edit" style="display: none;" >
                <div class="row">
                  <div class="col">
                      <input type="text" id="Nickname" name="Nickname" class="form-control" placeholder="{{form.Nickname}}">
                  </div>
                  <div class="col-auto ml-auto"> 
                      <div class="d-flex">
                          <button type="submit" class="btn btn-primary mr-2">Save</button> 
                          <button type="button" onclick="cancelEdit('Nickname')" class="btn btn-danger">Cancel</button>
                      </div>
                  </div>
              </div>
              
              </div>

              <div id="edit_mode_Nickname_show">
                <p class="col text-muted mb-0">
                    {{form.Nickname}}
                    {% if readrights == 4 or readrights == None %}
                        <span class="float-right">
                            <i class="fas fa-edit edit-icon edit_icon" onclick="enableEdit('Nickname','{{form.Nickname}}')"></i>
                        </span>
                    {% endif %}
                </p>
            </div>

              
              
            </div>
          </div>
        </form>

        <hr>

        <form action="/edit_userInformation/Email/{{informationuserid}}" role="form" method="POST">
          <div class="row">
            <div class="col-sm-3">
              <label for="email" class="mb-0">Email</label>
            </div>
            <div class="col-sm-9" id="Email-container">
              <div id="edit_mode_Email_edit" style="display: none;" >
                <div class="row">
                  <div class="col">
                      <input type="text" id="Email" name="Email" class="form-control" placeholder="{{form.Email}}">
                  </div>
                  <div class="col-auto ml-auto"> 
                      <div class="d-flex">
                          <button type="submit" class="btn btn-primary mr-2">Save</button> 
                          <button type="button" onclick="cancelEdit('Email')" class="btn btn-danger">Cancel</button>
                      </div>
                  </div>
              </div>
              
              </div>

              <div id="edit_mode_Email_show">
                <p class="col text-muted mb-0">
                    {{form.Email}}
                    {% if readrights == 4 or readrights == None %}
                        <span class="float-right">
                            <i class="fas fa-edit edit-icon edit_icon" onclick="enableEdit('Email','{{form.Email}}')"></i>
                        </span>
                    {% endif %}
                </p>
            </div>

              
              
            </div>
          </div>
        </form>

        <hr>
        <form action="/edit_userInformation/Contactaddress/{{informationuserid}}" role="form" method="POST">
          <div class="row">
            <div class="col-sm-3">
              <label for="Contactaddress" class="mb-0">Contact Address</label>
            </div>
            <div class="col-sm-9" id="Contactaddress-container">
              <div id="edit_mode_Contactaddress_edit" style="display: none;" >
                <div class="row">
                  <div class="col">
                      <input type="text" id="Contactaddress" name="Contactaddress" class="form-control" placeholder="{{ form.Contactaddress }}">
                  </div>
                  <div class="col-auto ml-auto"> 
                      <div class="d-flex">
                          <button type="submit" class="btn btn-primary mr-2">Save</button> 
                          <button type="button" onclick="cancelEdit('Contactaddress')" class="btn btn-danger">Cancel</button>
                      </div>
                  </div>
              </div>
              
              </div>

              <div id="edit_mode_Contactaddress_show">
                <p class="col text-muted mb-0">
                    {{ form.Contactaddress }}
                    {% if readrights == 4 or readrights == None %}
                        <span class="float-right">
                            <i class="fas fa-edit edit-icon edit_icon" onclick="enableEdit('Contactaddress','{{ form.Contactaddress }}')"></i>
                        </span>
                    {% endif %}
                </p>
            </div>

              
            </div>
          </div>
        </form>

        <hr>

        <form action="/edit_userInformation/Phone/{{informationuserid}}" role="form" method="POST">
          <div class="row">
            <div class="col-sm-3">
              <label for="Phone" class="mb-0">Phone Number</label>
            </div>
            <div class="col-sm-9" id="Phone-container">
              <div id="edit_mode_Phone_edit" style="display: none;" >
                <div class="row">
                  <div class="col">
                      <input type="text" id="Phone" name="Phone" class="form-control" placeholder="{{ form.Phone }}">
                  </div>
                  <div class="col-auto ml-auto"> 
                      <div class="d-flex">
                          <button type="submit" class="btn btn-primary mr-2">Save</button> 
                          <button type="button" onclick="cancelEdit('Phone')" class="btn btn-danger">Cancel</button>
                      </div>
                  </div>
              </div>
              
              </div>

              <div id="edit_mode_Phone_show">
                <p class="col text-muted mb-0">
                    {{ form.Phone }}
                    {% if readrights == 4 or readrights == None %}
                        <span class="float-right">
                            <i class="fas fa-edit edit-icon edit_icon" onclick="enableEdit('Phone','{{ form.Phone }}')"></i>
                        </span>
                    {% endif %}
                </p>
            </div>

              
              
            </div>
          </div>
        </form>

        <hr>

        <form action="/edit_userInformation/LinkedIn/{{informationuserid}}" role="form" method="POST">
          <div class="row">
            <div class="col-sm-3">
              <label for="LinkedIn" class="mb-0">Linked In</label>
            </div>
            <div class="col-sm-9" id="LinkedIn-container">
              <div id="edit_mode_LinkedIn_edit" style="display: none;" >
                <div class="row">
                  <div class="col">
                      <input type="text" id="LinkedIn" name="LinkedIn" class="form-control" placeholder="{{ form.LinkedIn}}">
                  </div>
                  <div class="col-auto ml-auto"> 
                      <div class="d-flex">
                          <button type="submit" class="btn btn-primary mr-2">Save</button> 
                          <button type="button" onclick="cancelEdit('LinkedIn')" class="btn btn-danger">Cancel</button>
                      </div>
                  </div>
              </div>
              
              </div>

              <div id="edit_mode_LinkedIn_show">
                <p class="col text-muted mb-0">
                    {{ form.LinkedIn }}
                    {% if readrights == 4 or readrights == None %}
                        <span class="float-right">
                            <i class="fas fa-edit edit-icon edit_icon" onclick="enableEdit('LinkedIn','{{ form.LinkedIn}}')"></i>
                        </span>
                    {% endif %}
                </p>
            </div>

              
              
            </div>
          </div>
        </form>

        <hr>

        <form action="/edit_userInformation/Years/{{informationuserid}}" role="form" method="POST">
          <div class="row">
            <div class="col-sm-3">
              <label for="Years" class="mb-0">Year of Experience</label>
            </div>
            <div class="col-sm-9" id="Years-container">
              <div id="edit_mode_Years_edit" style="display: none;" >
                <div class="row">
                  <div class="col">
                      <input type="text" id="Years" name="Years" class="form-control" placeholder="{{ form.Years }}">
                  </div>
                  <div class="col-auto ml-auto"> 
                      <div class="d-flex">
                          <button type="submit" class="btn btn-primary mr-2">Save</button> 
                          <button type="button" onclick="cancelEdit('Years')" class="btn btn-danger">Cancel</button>
                      </div>
                  </div>
              </div>
              
              </div>

              <div id="edit_mode_Years_show">
                <p class="col text-muted mb-0">
                    {{ form.Years}}
                    {% if readrights == 4 or readrights == None %}
                        <span class="float-right">
                            <i class="fas fa-edit edit-icon edit_icon" onclick="enableEdit('Years','{{ form.Years }}')"></i>
                        </span>
                    {% endif %}
                </p>
            </div>

              
             
            </div>
          </div>
        </form>

        <hr>

        <form action="/edit_userInformation/Location/{{informationuserid}}" role="form" method="POST">
          <div class="row">
            <div class="col-sm-3">
              <label for="Location" class="mb-0">Location</label>
            </div>
            <div class="col-sm-9" id="Location-container">
              <div id="edit_mode_Location_edit" style="display: none;" >
                <div class="row">
                  <div class="col">
                      <input type="text" id="Location" name="Location" class="form-control" placeholder="{{ form.Location}}">
                  </div>
                  <div class="col-auto ml-auto"> 
                      <div class="d-flex">
                          <button type="submit" class="btn btn-primary mr-2">Save</button> 
                          <button type="button" onclick="cancelEdit('Location')" class="btn btn-danger">Cancel</button>
                      </div>
                  </div>
              </div>
              
              </div>

              <div id="edit_mode_Location_show">
                <p class="col text-muted mb-0">
                    {{ form.Location}}
                    {% if readrights == 4 or readrights == None %}
                        <span class="float-right">
                            <i class="fas fa-edit edit-icon edit_icon" onclick="enableEdit('Location','{{ form.Location }}')"></i>
                        </span>
                    {% endif %}
                </p>
            </div>

              
             
            </div>
          </div>
        </form>

        <hr>

        <form action="/edit_userInformation/Maritalstatus/{{informationuserid}}" role="form" method="POST">
          <div class="row">
            <div class="col-sm-3">
              <label for="Maritalstatus" class="mb-0">Marital Status</label>
            </div>
            <div class="col-sm-9" id="Maritalstatus-container">
              <div id="edit_mode_Maritalstatus_edit" style="display: none;" >
                <div class="row">
                  <div class="col">
                      <input type="text" id="Maritalstatus" name="Maritalstatus" class="form-control" placeholder="{{ form.Maritalstatus }}">
                  </div>
                  <div class="col-auto ml-auto"> 
                      <div class="d-flex">
                          <button type="submit" class="btn btn-primary mr-2">Save</button> 
                          <button type="button" onclick="cancelEdit('Maritalstatus')" class="btn btn-danger">Cancel</button>
                      </div>
                  </div>
              </div>
              
              </div>

              <div id="edit_mode_Maritalstatus_show">
                <p class="col text-muted mb-0">
                    {{ form.Maritalstatus }}
                    {% if readrights == 4 or readrights == None %}
                        <span class="float-right">
                            <i class="fas fa-edit edit-icon edit_icon" onclick="enableEdit('Maritalstatus','{{ form.Maritalstatus }}')"></i>
                        </span>
                    {% endif %}
                </p>
            </div>

              
              
            </div>
          </div>
        </form>
        
        <hr>

        <form action="/edit_userInformation/Ethnicgroup/{{informationuserid}}" role="form" method="POST">
          <div class="row">
            <div class="col-sm-3">
              <label for="Ethnicgroup" class="mb-0">Ethnic Group</label>
            </div>
            <div class="col-sm-9" id="Ethnicgroup-container">
              <div id="edit_mode_Ethnicgroup_edit" style="display: none;" >
                <div class="row">
                  <div class="col">
                      <input type="text" id="Ethnicgroup" name="Ethnicgroup" class="form-control" placeholder="{{ form.Ethnicgroup}}">
                  </div>
                  <div class="col-auto ml-auto"> 
                      <div class="d-flex">
                          <button type="submit" class="btn btn-primary mr-2">Save</button> 
                          <button type="button" onclick="cancelEdit('Ethnicgroup')" class="btn btn-danger">Cancel</button>
                      </div>
                  </div>
              </div>
              
              </div>

              <div id="edit_mode_Ethnicgroup_show">
                <p class="col text-muted mb-0">
                    {{ form.Ethnicgroup}}
                    {% if readrights == 4 or readrights == None %}
                        <span class="float-right">
                            <i class="fas fa-edit edit-icon edit_icon" onclick="enableEdit('Ethnicgroup','{{ form.Ethnicgroup }}')"></i>
                        </span>
                    {% endif %}
                </p>
            </div>

              
              
            </div>
          </div>
        </form>

        
        <hr>

        <form action="/edit_userInformation/Religion/{{informationuserid}}" role="form" method="POST">
          <div class="row">
            <div class="col-sm-3">
              <label for="Religion" class="mb-0">Religion</label>
            </div>
            <div class="col-sm-9" id="Religion-container">
              <div id="edit_mode_Religion_edit" style="display: none;" >
                <div class="row">
                  <div class="col">
                      <input type="text" id="Religion" name="Religion" class="form-control" placeholder="{{ form.Religion}}">
                  </div>
                  <div class="col-auto ml-auto"> 
                      <div class="d-flex">
                          <button type="submit" class="btn btn-primary mr-2">Save</button> 
                          <button type="button" onclick="cancelEdit('Religion')" class="btn btn-danger">Cancel</button>
                      </div>
                  </div>
              </div>
              
              </div>

              <div id="edit_mode_Religion_show">
                <p class="col text-muted mb-0">
                    {{ form.Religion }}
                    {% if readrights == 4 or readrights == None %}
                        <span class="float-right">
                            <i class="fas fa-edit edit-icon edit_icon" onclick="enableEdit('Religion','{{ form.Religion }}')"></i>
                        </span>
                    {% endif %}
                </p>
            </div>

              
              
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
        
    </div>
  </section>

{%endblock %}

