{% extends "_base.html" %}

{% block content %}
<style>
 /* Style the image container */
 .image-container {
            text-align: center;
            margin: 20px;
        }

        /* Style the rotated image */
        .rotated-image {
            width: 150px; /* Set your desired width */
            height: auto;
            display: block; /* Make the image a block element */
            margin: 0 auto; /* Center the image horizontally */
            /* transform: rotate(-90deg); Rotate the image 90 degrees */
        }

        /* Add some space below the image */
        .spacer {
            min-height: 10px; /* Set your desired minimum height */
        }
        .tab_hover:hover {
        
          color: blue;

    }
    .dropdown-checkbox {
    display: none;
}

#dropdownLabel {
    cursor: pointer;
}

.dropdown-checkbox:checked + .dropdown-menu {
    display: block;
}

.dropdown-menu {
    display: none;
    /* Other styles for the dropdown menu */
}

/* CSS */
.dropdown-menu-wide {
    min-width: 200px; /* Điều chỉnh độ rộng của dropdown menu */
    padding: 0.5rem; /* Thêm padding để tạo khoảng cách với các phần tử xung quanh */
}

    

  /* CSS để thêm đường kẻ phân chia */
  table {
      border-collapse: collapse;
      width: 100%;
  }

  th, td {
      border: 1px solid #ddd;
      padding: 8px;
      text-align: left;
  }

  th {
      background-color: #f2f2f2;
  }

    </style>
</style>
  <section style="background-color: #eee;">
    <div class="container py-5">
      <div class="row">
        <div class="col-lg-4">
          <div class="card mb-4">
              <div class="card-body text-center d-flex flex-column justify-content-center">
                <div>
                  <img id="avatarImage" src="{{ url_for('static', path='source/' + image_path) }}" alt="avatar"
                    style="border-radius: 50%; width: 90px; height: 90px;">
                  <h5 class="my-2">
                        {{fullname}}
                  </h5>
                </div>
                <form role="form" method="POST" action="/update_avatar/{{informationuserid}}/{{idaccount}}" enctype="multipart/form-data" hidden>
                    <div >
                        <div class="custom-file">
                          <input type="file"  id="customFile" name="avatar" hidden>
                        </div>
                    </div>
                    <input type="submit" id="update"  hidden>                       
                </form>

                <form role="form" method="POST" action="/remove_avatar/{{informationuserid}}/{{idaccount}}">
                    <input type="submit"  id="remove" hidden>
                </form>
                
                <div >
                    <label class="" for="customFile">Choose File <i class="fas fa-plus"></i></label>
                </div>

                <div class="d-flex justify-content-center mb-2">
                  <label  for="update" class="btn btn-success mr-1">Update</label>
                  <label  for="remove" class="btn btn-danger">Remove</label>
                </div>
              
            </div>
          </div>
            <div class="card mb-4 mb-lg-0 " >
              <div class="card-body p-0" >
                
                <ul class="list-group list-group-flush rounded-3">
                  
                  <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                    <form action="/userinformation/{{idaccount}}">
                      <i class="fas fa-user"></i>
                      <label class="mb-0 tab_hover " for="userinformation">User Information </label>
                      <input  type = "submit" id="userinformation"  hidden></input>
                    </form>
                  </li>
                  
                  <li class="list-group-item d-flex justify-content-between align-items-center p-3">   
                    <form action="/latestEmployment/{{informationuserid}}">
                      <i class="fas fa-briefcase"></i>
                        <label class="mb-0 tab_hover" for="latestEmployment">Latest Employment </label>
                        <input  type = "submit" id="latestEmployment"  hidden></input>
                    </form>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                    
                    <form action="/usercccd/{{informationuserid}}">
                      <i class="far fa-id-card"></i>
                      
                        <label class="mb-0 tab_hover" for="usercccd">Citizen identification Card </label>
                        <input  type = "submit" id="usercccd"  hidden></input>
                    </form>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                    
                    <form action="/healthCheckCertificates/{{informationuserid}}">
                      <i class="fas fa-heartbeat"></i>
                        <label class="mb-0 tab_hover" for="healthCheckCertificates">Health Check Certificates </label>
                        <input  type = "submit" id="healthCheckCertificates"  hidden></input>
                    </form>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                    <form action="/educationbackground/{{informationuserid}}">
                      <i class="fas fa-graduation-cap"></i>
                      <label class="mb-0 tab_hover" for="Education">Education </label>
                      <input  type = "submit" id="Education"  hidden></input>
                    </form>

                  </li>

                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                  <form action="/qualification/{{informationuserid}}">
                    <i class="fas fa-certificate"></i>
                      <label class="mb-0 tab_hover" for="Qualification">Qualification </label>
                      <input  type = "submit" id="Qualification"  hidden></input>
                  </form>
                  
                </li>

                {% if roleuser == "employee"  %}

                <li class="list-group-item d-flex justify-content-between align-items-center p-3 dropdown">
                  <div class="dropdown">
                      <i class="fas fa-address-card"></i>
                      <label class="mb-0 tab_hover dropdown-toggle" onclick="updateValueSection()" id="dropdownMenuButton" data-toggle="dropdown" >Employee Information</label>
                      <!-- <i class="fa-solid fa-angle-down"></i> -->
                      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <li><a class="dropdown-item" href="/informationuserjob/{{informationuserid}}">Employee Information Job</a></li>
                        <li><a class="dropdown-item mb-0" href="/employeepage/informationuserjob/employeerelativelist/{{informationuserid}}">Employee Relationship</a></li>
                        {% if readrights==3 or readrights==4 or readrights is none %}
                        <li>
                          <a class="dropdown-item" href="/employeepage/informationuserjob/laborcontract/{{informationuserjobid}}/{informationuserid}">Contract</a>

                        </li>
                        <li>
                          <a class="dropdown-item" href="/employeepage/informationuserjob/forexsalary/{{informationuserjobid}}/{{informationuserid}}">Forex Salary</a>

                        </li>
      
                        {% endif %}
                      </ul>
                      
                  </div>
              </li>
                {%endif%}
                </ul>
              </div>
            </div>
          </div>
                
              <!-- child template -->
            {%block content_body%}

            {%endblock%}
        
    </div>
    <script>
      // get img tag from avatr image to send pass for navigation.html
// function cancelEdit(col) {
//     // Hide the edit mode elements
//     document.getElementById('edit_mode_Fullname_div').style.display = 'none';

//     // Set edit_mode to false
//     var editModeElement = document.getElementById('edit_mode_Fullname');
//     editModeElement.value = 'false';
// }
function updateValueSection(){
    localStorage.setItem('isReloadedSection', 'true'); 
  }
function enableEdit(col, placeholderValue) {
  var columnEdit = "edit_mode_" + col +"_edit";
  var columnShow = "edit_mode_" + col + "_show";
  document.getElementById(columnEdit).style.display = '';
  document.getElementById(columnShow).style.display = 'none';
}

function cancelEdit(col)
{
  var columnEdit = "edit_mode_" + col +"_edit";
  var columnShow = "edit_mode_" + col + "_show";
  document.getElementById(columnEdit).style.display = 'none';
  document.getElementById(columnShow).style.display = '';
}
  // droplist employee
   // JavaScript for hiding dropdown menu when clicking outside
   document.addEventListener('DOMContentLoaded', function() {
    var dropdownMenu = document.querySelector('.dropdown-menu');
    dropdownMenu.style.display = 'none';
});

   document.getElementById('dropdownMenuLink').addEventListener('click', function() {
    var dropdownMenu = document.querySelector('.dropdown-menu');
    if (dropdownMenu.style.display === 'none') {
        dropdownMenu.style.display = 'block';
    } else {
        dropdownMenu.style.display = 'none';
    }
});

    </script>
  </section>

{%endblock %}
