{% extends "_base.html" %}

{% block content %}
<div class="mt-4 mb-4 mr-4 ml-4 border p-4" style="color: black;">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-4">
                    <img class="img" style="object-fit: contain; max-width: 100%;height: 90%;" src="{{ url_for('static', path='source/logo_export.jpg') }}">
                </div>
                <div class="col-md-2 ml-4 lh-1 mb-2">
                    <h4 class="font-weight-bold ">Payslip/Phiếu lương</h4>
                </div>
            </div>
           
            <div class="row mt-4">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-3">
                            <div><span class="fw-bolder">Month/Tháng (MM/DD/YYYY)</span></div>
                        </div>
                        <div class="col-md-2">
                            <div><span class="fw-bolder">{{payrolldetail[26]}}</span></div>
                        </div>
                        <div class="col-md-3">
                            <div><span class="fw-bolder">Start Date/Từ ngày (MM/DD/YYYY)</span></div>
                        </div>
                        <div class="col-md-3">
                            <div><span class="fw-bolder">0</span></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-3">
                            <div><span class="fw-bolder">Employee Code/Mã nhân viên</span></div>
                        </div>
                        <div class="col-md-2">
                            <div><span class="fw-bolder">{{payrolldetail[1]}}</span></div>
                        </div>
                        <div class="col-md-3">
                            <div><span class="fw-bolder">End Date/Đến ngày (MM/DD/YYYY)</span></div>
                        </div>
                        <div class="col-md-3">
                            <div><span class="fw-bolder">0</span></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-3">
                            <div><span class="fw-bolder">Name/Tên nhân viên</span></div>
                        </div>
                        <div class="col-md-2">
                            <div><span class="fw-bolder">{{payrolldetail[3]}}</span></div>
                        </div>
                        <div class="col-md-3">
                            <div><span class="fw-bolder">No. of Dependents/Số người phụ thuộc</span></div>
                        </div>
                        <div class="col-md-3">
                            <div><span class="fw-bolder">{{payrolldetail[9]}}</span></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-3">
                            <div><span class="fw-bolder">Job Title/Chức danh</span></div>
                        </div>
                        <div class="col-md-2">
                            <div><span class="fw-bolder">0</span></div>
                        </div>
                        <div class="col-md-3">
                            <div><span class="fw-bolder">Standard Working Hours/Giờ công chuẩn</span></div>
                        </div>
                        <div class="col-md-3">
                            <div><span class="fw-bolder">{{payrolldetail[5]}}</span></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-3">
                            <div><span class="fw-bolder">Hire Date/Ngày vào làm (MM/DD/YYYY)</span></div>
                        </div>
                        <div class="col-md-2">
                            <div><span class="fw-bolder">0</span></div>
                        </div>
                        <div class="col-md-3">
                            <div><span class="fw-bolder">Actual Working Hours/Giờ công thực tế</span></div>
                        </div>
                        <div class="col-md-3">
                            <div><span class="fw-bolder">{{payrolldetail[6]}}</span></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-3">
                            <div><span class="fw-bolder">Tax Code/Mã số thuế</span></div>
                        </div>
                        <div class="col-md-2">
                            <div><span class="fw-bolder">0</span></div>
                        </div>
                        <div class="col-md-3">
                            <div><span class="fw-bolder">BIDV Bank, Ho Chi Minh City</span></div>
                        </div>
                        <div class="col-md-3">
                            <div><span class="fw-bolder">0</span></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-10 mr-8 text-center lh-1 mb-2 mt-4">
                <h4 class="font-weight-bold ">Description/Diễn giải</h4>
            </div>

            <div class="row">
                <div class="col-md-8">
                    <div><span class="font-weight-bold ">(A) Gross Basic Salary/Lương cơ bản</span></div>
                </div>
                <div class="col-md-2">
                    <div><span class="fw-bolder">{{payrolldetail[7]}}</span></div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-8">
                    <div><span class="font-weight-bold ">(B) Total Income/Tổng thu nhập</span></div>
                </div>
                <div class="col-md-2">
                    <div><span class="fw-bolder">{{payrolldetail[8]}}</span></div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 ml-4">
                    <div><span class="fw-bolder">Actual Salary/Lương ngày công thực tế</span></div>
                </div>
                <div class="col-md-3">
                    <div><span class="fw-bolder">0</span></div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 ml-4">
                    <div><span class="fw-bolder">Internet Allowance</span></div>
                </div>
                <div class="col-md-3">
                    <div><span class="fw-bolder">0</span></div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 ml-4">
                    <div><span class="fw-bolder">Meal Allowance</span></div>
                </div>
                <div class="col-md-3">
                    <div><span class="fw-bolder">0</span></div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 ml-4">
                    <div><span class="fw-bolder">Phone Allowance</span></div>
                </div>
                <div class="col-md-3">
                    <div><span class="fw-bolder">0</span></div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 ml-4">
                    <div><span class="fw-bolder">Transportation Allowance</span></div>
                </div>
                <div class="col-md-3">
                    <div><span class="fw-bolder">0</span></div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 ml-4">
                    <div><span class="fw-bolder">Other Cash Allowance</span></div>
                </div>
                <div class="col-md-3">
                    <div><span class="fw-bolder">0</span></div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 ml-4">
                    <div><span class="fw-bolder">Year End Bonus</span></div>
                </div>
                <div class="col-md-3">
                    <div><span class="fw-bolder">0</span></div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 ml-4">
                    <div><span class="fw-bolder">Unused Annual Leave</span></div>
                </div>
                <div class="col-md-3">
                    <div><span class="fw-bolder">0</span></div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-8">
                    <div><span class="font-weight-bold ">(C) Benefit For Tax Purpose/Phúc lợi chịu thuế TNCN</span></div>
                </div>
                <div class="col-md-3">
                    <div><span class="fw-bolder">0</span></div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 ml-4">
                    <div><span class="fw-bolder">Premium Insurance</span></div>
                </div>
                <div class="col-md-3">
                    <div><span class="fw-bolder">0</span></div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-8">
                    <div><span class="font-weight-bold ">(D) Tax Exemption/Thu nhập miễn thuế</span></div>
                </div>
                <div class="col-md-3">
                    <div><span class="fw-bolder">0</span></div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 ml-4">
                    <div><span class="fw-bolder">Meal Allowance</span></div>
                </div>
                <div class="col-md-3">
                    <div><span class="fw-bolder">0</span></div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-8">
                    <div><span class="font-weight-bold ">(E) Taxable Income/Thu nhập chịu thuế (B+C-D)</span></div>
                </div>
                <div class="col-md-3">
                    <div><span class="fw-bolder">{{payrolldetail[16]}}</span></div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-8">
                    <div><span class="font-weight-bold ">(F) Tax Deduction/Giảm trước khi tính thuế</span></div>
                </div>
                <div class="col-md-3">
                    <div><span class="fw-bolder">0</span></div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 ml-4">
                    <div><span class="fw-bolder">1. Personal Deduction/Giảm trừ bản thân</span></div>
                </div>
                <div class="col-md-3">
                    <div><span class="fw-bolder">{{payrolldetail[13]}}</span></div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 ml-4">
                    <div><span class="fw-bolder">2. Dependents Deduction/Giảm trừ cho người phụ thuộc</span></div>
                </div>
                <div class="col-md-3">
                    <div><span class="fw-bolder">{{payrolldetail[14]}}</span></div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 ml-4">
                    <div><span class="fw-bolder">3. Social Insurance/SI (8% of max SI salary)</span></div>
                </div>
                <div class="col-md-3">
                    <div><span class="fw-bolder">{{payrolldetail[19]}}</span></div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 ml-4">
                    <div><span class="fw-bolder">4. Health Insurance/HI (1.5% of max SI salary)</span></div>
                </div>
                <div class="col-md-3">
                    <div><span class="fw-bolder">{{payrolldetail[21]}}</span></div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 ml-4">
                    <div><span class="fw-bolder">5. Unemployment Insurance/UI (1% of min salary of zone)</span></div>
                </div>
                <div class="col-md-3">
                    <div><span class="fw-bolder">{{payrolldetail[20]}}</span></div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 ml-4">
                    <div><span class="fw-bolder">6. Social, Health, and Unemployment Adjustment/SI, HI, và UI điều chỉnh</span></div>
                </div>
                <div class="col-md-3">
                    <div><span class="fw-bolder"></span></div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-8">
                    <div><span class="font-weight-bold ">(G) Assesable Income/Thu nhập tính thuế (E-F)</span></div>
                </div>
                <div class="col-md-3">
                    <div><span class="fw-bolder">{{payrolldetail[16]}}</span></div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-8">
                    <div><span class="font-weight-bold ">(H) Monthly PIT/Thuế thu nhập</span></div>
                </div>
                <div class="col-md-3">
                    <div><span class="fw-bolder">{{payrolldetail[17]}}</span></div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-8">
                    <div><span class="font-weight-bold ">(I) Other After Tax/Các khoản cộng trừ sau thuế</span></div>
                </div>
                <div class="col-md-3">
                    <div><span class="fw-bolder">0</span></div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-8">
                    <div><span class="font-weight-bold ">(J) Union Fee Paid By Employee/Phí công đoàn nhân viên đóng</span></div>
                </div>
                <div class="col-md-3">
                    <div><span class="fw-bolder">0</span></div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-8">
                    <div><span class="font-weight-bold ">(K) Net Take Home/Thực lãnh</span></div>
                </div>
                <div class="col-md-3">
                    <div><span class="fw-bolder">{{payrolldetail[18]}}</span></div>
                </div>
            </div>

            <div class="row" style="padding-top: 30px;">
                <div class="col-md-3">
                    <div><span class="fw-bolder">Remark/Ghi chú</span></div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 ml-4">
                    <div><span class="fw-bolder">Any query about the salary please contract hr@connexus.vn within 01 week upon receip of this payslip.</span></div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 ml-4">
                    <div><span class="fw-bolder">Mọi thắc mắc liên quan đến thu nhập vui lòng liên hệ hr@connexus.vn trong vòng 01 tuần kể từ ngày nhận phiếu lương.</span></div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-8 ml-4">
                    <div><span class="fw-bolder">PIT is just a temporary calculation following the Tax regulations. The individual will be responsible for PIT finalization each year.</span></div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-9 text-center" >
                    <div><span class="fw-bolder">Confidential</span></div>
                </div>
            </div>
            
        </div>           
        
    </div>
</div>
{% endblock %}
