{% extends "_base.html" %}


{% block content %}

<style>
    .table tbody tr td:first-child {
    width: 70%;
    font-weight: bold; /* Optional: Apply bold style to all first column cells */
}

</style>
<body style="background-color: #ccc;">
    <div class="container-sm" style="background-color: #fff;">
        <div class="my-5">
            <div class="p-0">
                <form action="">
                    <div class="mb-12">
                        <div class="d-flex mb-1">
                            <span class="w50 font-weight-bold my-3">
                                <span class="heading">Regulations apply from July 1, 2023 <span class="text text-danger">(Latest)</span> <i type="button" class="fas fa-question-circle" data-toggle="modal" data-target="#baseSalary"></i></span>
                            </span>
                        </div>
                        
                        <!-- Modal -->
                        <div class="modal fade" id="baseSalary" tabindex="-1" role="dialog" aria-labelledby="baseSalaryLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                <h5 class="modal-title font-weight-bold" id="baseSalaryLabel">The latest salary calculation regulations apply from July 1, 2023</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                </div>
                                <div class="modal-body">
                                <p class="font-weight-bold">Specifically:</p>
                                <p>Base salary: <span class="text text-primary">1,800,000 VND</span></p>
                                <p>Personal family deduction: <span class="text text-primary">11,000,000 VND/Month</span></p>
                                <p>Dependents:  <span class="text text-primary">4,400,000 VND/Person/Month</span></p>
                                <p>Regional minimum wage:</p>
                                <ul>
                                    <li>Region I: <span class="text text-primary">4,680,000 VND/Month</span></li>
                                    <li>Region II: <span class="text text-primary">4,160,000 VND/Month</span></li>
                                    <li>Region III: <span class="text text-primary">3,640,000 VND/Month</span></li>
                                    <li>Region IV: <span class="text text-primary">3,250,000 VND/Month</span></li>
                                </ul>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    
                                  </div>
                            </div>
                            </div>
                        </div>

                        <div class="card shadow-sm my-1">
                            <div class="card-body">
                                <div class="row justify-content-between align-items-center">
                                    <div class="col-md-3">
                                        <div class="mb-3">
                                            <p class="mb-0 font-weight-bold">Base Salary:</p>
                                            <div class="input-group" >
                                                <p type="text  " class="form-control "> 1,800,000 </p>
                                                <div class="d-flex justify-content-center align-items-center centered-div ml-1">
                                                    <span class="login__icon  small">(VND)</span>
                                                </div>
                                                <!-- <div class="input-group-append">
                                                    <select class="form-control" id="currencySelect">
                                                        <option value="vnd">VND</option>
                                                        <option value="usd">USD</option>
        
                                                    </select>
                                                </div> -->
                                            </div>
                                        </div>
                                    </div>
        
                                    <div class="col-md-4">
                                        <div class="mb-3">
                                            <p class="mb-0 font-weight-bold">Deduction for personal family circumstances:</p>
                                            <div class="input-group">
                                                <p type="text  " class="form-control "> 11,000,000 </p>
                                                
                                                <div class="d-flex justify-content-center align-items-center centered-div ml-1">
                                                    <span class="login__icon  small">(VND)</span>
                                                </div>
                                                <!-- <div class="input-group-append">
                                                    <select class="form-control" id="currencySelect">
                                                        <option value="vnd">VND</option>
                                                        <option value="usd">USD</option>
          
                                                    </select>
                                                </div> -->
                                            </div>
                                        </div>
                                    </div>
        
                                    <div class="col-md-4">
                                        <div class="mb-3">
                                            <p class="mb-0 font-weight-bold">Dependent person:</p>
                                            <div class="input-group">
                                                <p type="text  " class="form-control "> 4,400,000 </p>
                                                
                                                <div class="d-flex justify-content-center align-items-center centered-div ml-1">
                                                    <span class="login__icon  small">(VND)</span>
                                                </div>
                                                <!-- <div class="input-group-append">
                                                    <select class="form-control" id="currencySelect">
                                                        <option value="vnd">VND</option>
                                                        <option value="usd">USD</option>
                   
                                                    </select>
                                                </div> -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
        
                                
                                </div>
                            </div>
                        </div>
        
                        <div class="my-4">
                            <div class="row justify-content-between align-items-center">
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <p class="mb-0 font-weight-bold">Income:</p>
                                        <div class="input-group">
                                            
                                            <div class="d-flex justify-content-center align-items-center centered-div mr-2">
                                                <div style="color:green">
                                                    <i class="fas fa-dollar-sign"></i>
                                                </div>
                                            </div>
                                            <p type="text  " class="form-control "> {{detail[0]}} </p>
                                            
        
                                            <div class="d-flex justify-content-center align-items-center centered-div ml-1">
                                                <span class="login__icon  small">(VND)</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
            
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <p class="mb-0 font-weight-bold">Number of dependents:</p>
                                        <div class="input-group">
                                            
                                            <div class="d-flex justify-content-center align-items-center centered-div mr-2">
                                                <div style="color:green">
                                                    <i class="fas fa-user"></i>
                                                </div>
                                            </div>
                                            <p type="text  " class="form-control "> {{detail[18]}}</p>
                                            
        
                                            <div class="d-flex justify-content-center align-items-center centered-div ml-1">
                                                <span class="login__icon  small">(PEOPLE)</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        </div>
                        
        
                        <!-- <div class="row justify-content-between align-items-center">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <p class="mb-0 font-weight-bold">Insurance Salary:</p>
                                    <div class="row justify-content-between align-items-center">
                                        <div class="col">
                                            <div class="mb-3">
                                                <div class="form-check">
                                                    <input class="form-check-input" type="radio" name="salaryOption" id="officialSalary" value="officialSalary" checked>
                                                    <label class="form-check-label" for="officialSalary">
                                                        On Official Salary
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                   
                                </div>
                            </div>
                 -->
                            <!-- <div class="col-md-6">
                                <div class="mb-6">
                                    <div class="input-group">
                                        <div class="d-flex justify-content-center align-items-center centered-div">
                     
                                            <div class="form-check mr-2">
                                                <input class="form-check-input" type="radio" name="salaryOption" id="otherSalary" value="otherSalary">
                                                <label class="form-check-label" for="otherSalary">Other:</label>
                                            </div>
                                            <div class="d-flex justify-content-center align-items-center centered-div mr-1">
                                                <div style="color:green">
                                                    <i class="fas fa-dollar-sign"></i>
                                                </div>
                                            </div>
                                            <input type="text" class="form-control " id="otherSalaryInput" value="123,123,123" readonly>
                                            <div class="d-flex justify-content-center align-items-center centered-div ml-1">
                                                <span class="login__icon  small">(VND)</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
     -->
                        <!-- <div class="row justify-content-between align-items-center">
                            <div class="col-md-3">
                                <div class="mb-3">
                                    <p class="mb-0 font-weight-bold">Region:</p>
                                    <div class="row justify-content-between align-items-center">
                                        <div class="col">
                                            <div class="mb-3">
                                                <div class="form-check">
                                                    <input class="form-check-input" type="radio" name="Region" id="1" value="1" checked>
                                                    <label class="form-check-label" for="1">
                                                        I
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
    
                                        <div class="col">
                                            <div class="mb-3">
                                                <div class="form-check">
                                                    <input class="form-check-input" type="radio" name="Region" id="2" value="2">
                                                    <label class="form-check-label" for="2">
                                                        II
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
    
                                        <div class="col">
                                            <div class="mb-3">
                                                <div class="form-check">
                                                    <input class="form-check-input" type="radio" name="Region" id="3" value="3">
                                                    <label class="form-check-label" for="3">
                                                        III
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
    
                                        <div class="col">
                                            <div class="mb-3">
                                                <div class="form-check">
                                                    <input class="form-check-input" type="radio" name="Region" id="4" value="4">
                                                    <label class="form-check-label" for="officialSalary">
                                                        IV
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                   
                                </div>
                            </div>
                                    </div>
                                </div>
                            </div>
    
                        </div> -->
    
                        <div class="card shadow-sm my-4">
                            <div class="card-header">
                                <div class="row justify-content-between align-items-center">
                                    <div class="col-md-3">
                                        <div class="mb-3">
                                            <p class="mb-0 font-weight-bold">Salary Gross</p>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="mb-3">
                                            <p class="mb-0 font-weight-bold">Insurance</p>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="mb-3">
                                            <p class="mb-0 font-weight-bold">Personal Income Tax</p>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="mb-3">
                                            <p class="mb-0 font-weight-bold">Net Salary</p>
                                        </div>
                                    </div>
                                </div>
                            </div>  
                
                            <div class="card-body">
                                <div class="row justify-content-between align-items-center">
                                    <div class="col-md-3">
                                        <div class="mb-3">
                                            <div class="input-group">
                                                <p class="mb-0">{{detail[0]}}</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="mb-3">
                                            <div class="input-group">
                                                <p class="mb-0">- {{totalinsurance}}</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="mb-3">
                                            <div class="input-group">
                                                <p class="mb-0">- {{detail[8]}}</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="mb-3">
                                            <div class="input-group">
                                                <p class="mb-0">{{detail[9]}}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                </form>
    
                <div class="d-flex">
                    <span class="w50 font-weight-bold my-3">
                        <sapn class="heading text text-primary">Detailed explanation (VND) </sapn>
                    </span>
                </div>  
                
                <div class="card-body">
                    <table class="table table-bordered">
                        <tbody>
                            <tr>
                                <td class="font-weight-bold">Salary GROSS</td>
                                <td>{{detail[0]}}</td>
                            </tr>
                            <tr>
                                <td class="">Social insurance (8%)	</td>
                                <td>- {{detail[1]}}</td>
                            </tr>
                            <tr>
                                <td class="">Health insurance (1.5%)</td>
                                <td>- {{detail[2]}}</td>
                            </tr>
                            <tr>
                                <td class="">Unemployment insurance (1%)	</td>
                                <td>- {{detail[3]}}</td>
                            </tr>
                            <tr>
                                <td class="font-weight-bold">Income before tax		</td>
                                <td>{{detail[6]}}</td>
                            </tr>
                            <tr>
                                <td class="">Reduce personal family circumstances		</td>
                                <td>- {{detail[4]}}</td>
                            </tr>
                            <tr>
                                <td class="">Deduction for dependents' family circumstances</td>
                                <td>- {{detail[5]}}</td>
                            </tr>
                            <tr>
                                <td class="font-weight-bold">Income taxes</td>
                                <td>{{detail[7]}}</td>
                            </tr>
                            <tr>
                                <td class="font-weight-bold">Personal income tax(*)	</td>
                                <td>- {{detail[8]}}</td>
                            </tr>
                            <tr>
                                <td class="font-weight-bold">NET salary
                                    (Pre-tax income - Personal income tax.)</td>
                                <td>{{detail[9]}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>


                <div class="d-flex">
                    <span class="w50 font-weight-bold my-3">
                        <sapn class="heading text text-primary">Employer pays (VND) </sapn>
                    </span>
                </div>  
                
                <div class="card-body">
                    <table class="table table-bordered">
                        <tbody>
                            <tr>
                                <td class="">Salary GROSS</td>
                                <td>{{detail[0]}}</td>
                            </tr>
                            <tr>
                                <td class="">Social insurance (17%)</td>
                                <td>{{detail[10]}}</td>
                            </tr>
                            <tr>
                                <td class="">Insurance for Accidents at Work - Occupational Diseases (0.5%)</td>
                                <td>{{detail[11]}}</td>
                            </tr>
                            <tr>
                                <td class="d">Health insurance (3%)</td>
                                <td>{{detail[12]}}</td>
                            </tr>
                            <tr>
                                <td class="">Unemployment insurance (1%)</td>
                                <td>{{detail[13]}}</td>
                            </tr>
                            <tr>
                                <td class="font-weight-bold ">Total</td>
                                <td>{{detail[14]}}</td>
                            </tr>
                            
                        </tbody>
                    </table>
                </div>
                </div> 
            </div>

        </div>
        
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
        </a>
        </div>
</body>

<script>
    document.getElementById('otherSalaryInput').addEventListener('click', function() {
        document.getElementById('otherSalary').checked = true;
    });
</script>
{% endblock %}
