{% extends "_base.html" %}

{% block content %}

<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
        <main class="form-signin w-100 m-auto">
            
            <form role="form" method="post" action="">
                <h1 class="h3 mb-3 fw-normal text-center">INFORMATION EMPLOYEE</h1>
                {{ form.csrf_token }}
                <div >
                    
                
                        <label for="companysitecode">choose company site code:</label>
                        <select id="companysitecode" name="companysitecode">
                            {% for code in companysitecode %}
                                <option value="{{ code[0] }}">{{ code[1] }}</option>
                            {% endfor %}
                        </select>

                </div>
                <div class="form-floating">
                    <label>department</label>
                    <input class="form-control mb-2" type="text" name="department" value="{{ form.department }}">
                    
                </div>
                <div class="form-floating">
                    <label>directmanager</label>
                    <input class="form-control mb-2" type="text" name="directmanager" value="{{ form.directmanager }}">
                    
                </div>
                <div class="form-floating">
                    <label>workfortype</label>
                    <input class="form-control mb-2" type="text" name="workfortype" value="{{ form.workfortype }}">
                    
                </div>
                <button class="w-100 btn btn-lg btn-primary" type="submit">next</button>
            
                <!-- <div>
                    <label for="companysite">choose company site code:</label>
                    <select id="companysite" name="companysite">
                        {% for code in companysite %}
                            <option value="{{ code }}">{{ code }}</option>
                        {% endfor %}
                    </select>
                </div> -->
    
            </form
        </main>
  </div>
</div>
{% endblock %}