{% extends "_base.html" %}

{% block content %}

<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
        <main class="form-signin w-100 m-auto">
            
            <form role="form" method="post" action="">
                <h1 class="h3 mb-3 fw-normal text-center">LABOR CONTRACT</h1>
                {{ form.csrf_token }}
                <div class="form-floating">
                    <label>Laborcontracttype</label>
                    <input class="form-control mb-2" type="text" name="Laborcontracttype" value="{{ form.Laborcontracttype }}">
                    
                </div>
                <div class="form-floating">
                    <label>Laborcontractterm</label>
                    <input class="form-control mb-2" type="text" name="Laborcontractterm" value="{{ form.Laborcontractterm }}">
                    
                    
                </div>
                <div class="form-floating">
                    <label>Commencementdate</label>
                    <input class="form-control mb-2" type="date" name="Commencementdate" value="{{ form.Commencementdate }}">
                    
                   
                </div>
                <div class="form-floating">
                    <label>Position</label>
                    <input class="form-control mb-2" type="text" name="Position" value="{{ form.Position }}">
                    
                    
                </div>
                <div class="form-floating">
                    <label>Employeelevel</label>
                    <input class="form-control mb-2" type="text" name="Employeelevel" value="{{ form.Employeelevel }}">
                    
                    
                </div>
                <button class="w-100 btn btn-lg btn-primary" type="submit">next</button>
            
                <!-- <div>
                    <label for="companysite">choose company site code:</label>
                    <select id="companysite" name="companysite">
                        {% for code in companysite %}
                            <option value="{{ code }}">{{ code }}</option>
                        {% endfor %}
                    </select>
                </div> -->
    
            </form
        </main>
  </div>
</div>
{% endblock %}