{% extends "_base.html" %}

{% block content %}

<body>
    <div >
        
             <!-- Begin Page Content -->
    <div class="container-fluid" >
        <!-- Page Heading -->
        <!-- <h1 class="h3 mb-2 text-gray-800">Role List</h1> -->

        <!-- DataTales Example -->
            <div class="card-header py-3 row">
                <h6 class="m-0 font-weight-bold text-primary">Groups User List</h6>
            </div>
            <!-- HTML -->
                <div class="card-body py-2 row">
                        <div class="mr-auto d-flex align-items-center ml-4">
                            <label for="entries" class="mr-2">Show</label>
                            <select id="entries" onchange="changeEntries()" class="mr-2 custom-select sm">
                                <option value="5">5</option>
                                <option value="10" selected>10</option>
                                <option value="25">25</option>
                                <option value="50">50</option>
                                <option value="100">100</option>
                            </select>
                            <label for="entries" class="mr-4">Entries</label>
                            
                            {% if roleuser=="admin" %}
                            <div id="createRoleForm" >
                                <form role="form" method="post" action="">
                                  {{ form.csrf_token }}
                            <button type="button" class="btn btn-primary btn-sm" style="width: 100px;" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">New</button>
                            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                  <div class="modal-content">
                                    <div class="modal-header">
                                      <h5 class="modal-title" id="exampleModalLabel">Add new Group User</h5>
                                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                      </button>
                                    </div>
                                    <div class="modal-body">
                                      
                                        <div class="form-group">
                                          <label for="group" class="col-form-label">Enter New Group Name</label>
                                          <input class="form-control mb-2" type="text" name="group" >

                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                      <button type="submit" class="btn btn-primary">Next</button>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              </form>
                              </div>
                            <!-- <div id="createRoleForm" >
                              <form role="form" method="post" action="">
                                {{ form.csrf_token }}
                                <h2 class="h3 mb-3 fw-normal text-center">Create group user</h2>
                                <div class="form-floating">
                                  <input class="form-control mb-2" type="text" name="group" value="{{ form.group }}">
                                </div>
                                <button class="btn btn-success" type="submit">New</button>
                              </form>
                            </div> -->
                            {% endif %}
                        </div>
                        <div class="search-container ml-auto mr-4">
                            <input class="rounded-input form-control" id="myInput" onkeyup="search(1)" placeholder=" Searching........">
                        </div>
                    </div>

            
            <div class="card-body"  >
                <div class="text-center" >
                    <table id="myTable"  width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th><input type="checkbox" id="selectAllCheckbox"></th>
                                <th>Group Name </th>
                                <th>Created Date</th>
                                    
                                <th>Update</th>
                                <th>Log</th>
                                
                            </tr>
                        </thead>
                        

                        
                        <tbody >
                          {% for group in groups %}
                            <tr>
                                <td class="text-center"><input type="checkbox"></td>
                                <td>{{ group[1] }}</td>
                                <td class="text-center">{{ group[2] }}</td>
                                <td class="text-center">
                                    <a href="/adminpage/groupuserpage/updategroupuser/{{ group[0] }}/{{group[3]}}" style="color:#858796" >
                                    <i class="fas fa-edit"></i> 
                                    </a>
                                </td>
                                <td class="text-center">log</td>
                            </tr>
                        {% endfor %}    
                        </tbody>
                    </table>
                    <div class="row" >
                        <p class="mr-auto ml-3" >
                            Showing <span id="startEntry"></span> to <span id="endEntry"></span> of <span id="totalEntries"></span> entries

                        </p>
                        <p class="ml-auto">
                            <div class="pagination mr-3">
                                <!-- Button with double chevron left -->
                                <!-- <button><i class="fas fa-chevron-double-left"></i></button> -->
                                <!-- Button with single chevron left -->
                                <button onclick="prevPage()"><i class="fas fa-chevron-left"></i></button>
                                <!-- Pagination container for page numbers -->
                                <div id="paginationContainer" class="pagination-container">
                                    <!-- Page numbers will be dynamically added here -->
                                </div>
                                <!-- Button with single chevron right -->
                                <button onclick="nextPage()"><i class="fas fa-chevron-right"></i></button>
                                <!-- Button with double chevron right -->
                                <!-- <button><i class="fas fa-chevron-double-right"></i></button> -->
                            </div>
                            <!-- Hidden div for displaying current page and total pages -->
                            <div style="display: none;">
                                Current Page: <span id="currentPage"></span> / <span id="totalPages"></span>
                            </div>
                        </p>
                        
                    </div>
                    
                </div>
                      </div>
        </div>

    </div>
    <!-- /.container-fluid -->

</div>
<!-- End of Main Content -->





<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
<i class="fas fa-angle-up"></i>
</a>
    </div>
</body>
{% block JavaScript%}
<script src="{{url_for('static',path='js/table_role.js')}}"></script>
<script>
    // Function to handle the click event of the "Select All" checkbox
    document.getElementById("selectAllCheckbox").addEventListener("click", function() {
        // Get all checkboxes in the table body
        var checkboxes = document.querySelectorAll("tbody input[type='checkbox']");

        // Loop through each checkbox and set its checked state to match the "Select All" checkbox
        checkboxes.forEach(function(checkbox) {
            checkbox.checked = document.getElementById("selectAllCheckbox").checked;
        });
    });
</script>

{%endblock%}
{% endblock %}

