{% extends "_base.html" %}

{% block content %}
<style>
    /* Custom CSS */
    .form-select {
        width: 100%; /* Set the width of the select box to 100% */
    }

    .btn-custom {
        width: auto; /* Set the width of the buttons to auto */
    }
</style>

<body style="background-color: rgb(237, 243, 244)">
    <div class="row justify-content-center bg-purple-light py-4">
        <div class="col-md-6">
            <main class="form-signin">
                <h1 class="h3 mb-3 fw-normal text-center">Assign Role</h1>
                <form method="post" class="text-center">
                    <div class="mb-3 text-center">
                        <label for="inputEmail" class="form-label">Email:</label>
                        <span>{{ email[0] }}</span>
                    </div>
                    <div class="mb-3">
                        <label for="roles" class="form-label">Select a Role:</label>
                        <select id="roles" name="roles" class="form-select custom-select" style="width: 200px;">
                            {% for role in roles %}
                                <option value="{{ role }}">{{ role }}</option>
                            {% endfor %}
                        </select>
                        
                    </div>
                    <button type="submit" class="btn btn-primary btn-custom me-2">Assign</button>
                    <button onclick="location.href='/adminpage/usersmanager/blockuser/{{ idaccount }}'" class="btn btn-danger btn-custom me-2">Block</button>
                    {% if userrole=='candidate' %}
                        <button type="button" onclick="location.href='/adminpage/usersmanager/createemployee/{{informationuserid}}'" class="btn btn-success btn-custom me-2">Create Employee</button>
                        <button class="btn btn-warning btn-custom">Update Employee</button>
                    {% endif %}
                </form>
            </main>
        </div>
    </div>
</body>

{% endblock %}
