{% extends "_base.html" %}

{% block content %}

<div class="row">
	<div class="col-md-6 offset-md-3">
		<div class="card card-outline-secondary">
			<div class="card-header">
				<h3 class="mb-0">Update Role</h3>
			</div>
			<div class="card-body">
				<form method="post">
					<div class="form-group">
						<label >New Role Name</label>
						<input type="text" class="form-control" id="user_role" name="user_role" required="" placeholder="{{ rolename }}">
					</div>
            
						<button type="submit" class="btn btn-success btn-lg float-right btn-sm">Update</button>
            <a href="{{ url_for('deleterole', idrole=idrole) }}" class="btn btn-danger btn-lg float-right mr-2 btn-sm"> Delete</a>

					</div>
				</form>
			</div>
		</div>
	</div>
</div>

{% endblock %}