 <!-- Content Wrapper -->
 <div id="content-wrapper" class="d-flex flex-column ">

    <!-- Main Content -->
    <div id="content">

        <!-- Topbar -->
        <nav class="navbar navbar-expand fixed-top navbar-black bg-white topbar mb-4 static-top shadow ">

            <!-- Sidebar Toggle (Topbar) -->
            <!-- <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                <i class="fa fa-bars"></i>
            </button> -->

            <!-- Topbar Search -->
            <!-- <form
                class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                <div class="input-group">
                    <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..."
                        aria-label="Search" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                        <button class="btn btn-primary" type="button">
                            <i class="fas fa-search fa-sm"></i>
                        </button>
                    </div>
                </div>
            </form> -->
            <img class="img" style="object-fit: contain; max-width: 100%;height: 90%;" src="{{ url_for('static', path='source/logo_company.png') }}">
            <!-- <p>role admin: {{roleadmin}}; role user: {{roleuser}}</p> -->
            <!-- Topbar Navbar -->
            {%if current_user.is_authenticated and roleadmin == "admin" and roleuser == "admin" or  current_user.is_authenticated and roleadmin == "admin" and roleuser != "admin" %}
            {%if roleuser != "admin" and roleuser%}
            <ul class="navbar-nav  mr-auto">
                <li class="nav-item dropdown no-arrow">
                    <a class="nav-link dropdown-toggle btn-lg" href="/home" role="button" onclick="resetLocalStorage()"
                       aria-haspopup="true" aria-expanded="false">
                        <span class="mr-4 d-none d-lg-inline text-gray-1000 btn-lg">
                            <i class="fa-regular fa-square-caret-left fa-2x"></i>
                            
                        </span>
                    </a>
                </li>
                

            </ul>

                 <!-- avatar -->

                <ul class="navbar-nav ml-auto">
                    <!-- Nav Item - User Information -->
                    <li class="nav-item dropdown no-arrow">
                        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" onclick="updatePath('My Profile', 1)"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            
                            <img class="img-profile rounded-circle mr-3"
                                src="{{ url_for('static', path='source/' + image_path_admin) }}">
                            <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{fullname_admin }}</span>
                            
                        </a>
                        <!-- Dropdown - User Information -->
                        <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                            aria-labelledby="userDropdown">
                            <a class="dropdown-item" href="/profile" onclick="updatePath('Profile', 2)">
                                <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                Profile
                            </a>
                            <a class="dropdown-item" href="\getcodechangepassword">
                                <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                Change Password
                            </a>
                            <a class="dropdown-item" href="#">
                                <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                                Activity Log
                            </a>
                            <div class="dropdown-divider"></div>
                            <p class="dropdown-item">
                                <a  href="/logout" onclick="resetLocalStorage()">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Logout
                                </a>
                            </p>
                </div>
                    </li>
                </ul>
                
            {%else%}
            <ul class="navbar-nav  mr-auto">
                <li class="nav-item dropdown no-arrow">
                    <a class="nav-link dropdown-toggle btn-lg"  href="/home" role="button" onclick="resetLocalStorage()"
                        aria-haspopup="true" aria-expanded="false">
                        <span class="mr-4 d-none d-lg-inline text-gray-1000"><i class="fas fa-home fa-fw"></i></span>
                        
                    </a>
                </li>
                 <!-- Nav Item - User Management -->
                 <li class="nav-item dropdown no-arrow">
                    <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" onclick="combinationFunction('Users Management', 1)"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Users Management
                    </a>
                    <!-- Dropdown - User Management -->
                    <div class="dropdown-menu shadow animated--grow-in"
                        aria-labelledby="userDropdown">
                        <a class="dropdown-item" href="/adminpage/usersmanager" onclick="updatePath('Users', 2)">
                            
                            Users
                        </a>

                        <a class="dropdown-item" href="/adminpage/roles" onclick="updatePath('Role', 2)">
                            
                            Role
                        </a>

                        <a class="dropdown-item" href="/adminpage/groupuserpage" onclick="updatePath('Group User', 2)">
                            
                            Groups User
                        </a>

                    </div>
                </li>

                 <!-- Nav Item -ERP Management -->
                 <li class="nav-item dropdown no-arrow">
                    <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" onclick="updatePath('ERP Management', 1)"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        ERP Management  <span>         </span>              
                    </a>
                    <!-- Dropdown - ERP Management -->
                    <div class="dropdown-menu shadow animated--grow-in" 
                        aria-labelledby="userDropdown">
                        <a class="dropdown-item" href="/ERP/projectlist" onclick="updatePath('Project', 2)">
                            
                            Projects
                        </a>
                        <a class="dropdown-item" href="/ERP/weeklytimesheetview" onclick="updatePath('Weeklytimesheet View', 2)">
                            
                            Weeklytimesheet view
                        </a>

                    </div>
                </li>

                 <!-- Nav Item - Annual Leave Management -->
                 <li class="nav-item dropdown no-arrow">
                    <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" onclick="updatePath('Annual Leave Management', 1)"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Annual Leave Management
                    </a>
                    <!-- Dropdown - Annual Leave Management -->
                    <div class="dropdown-menu shadow animated--grow-in"
                        aria-labelledby="userDropdown">
                        <a class="dropdown-item" href="/LeaveManagement/leaveList" onclick="updatePath('Leave Management', 2)">
                            
                            Leave Management
                        </a>
                        <a class="dropdown-item" href="/annualleaveadmin_view" onclick="updatePath('Anual Leave View', 2)">
                            
                            Anual Leave View
                        </a>

                    </div>
                </li>

                 <!-- Nav Item - Annual Leave Management -->
                 <li class="nav-item dropdown no-arrow">
                    <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" onclick="updatePath('Timesheet Management', 1)"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Timesheet Management
                    </a>
                    <!-- Dropdown - Annual Leave Management -->
                    <div class="dropdown-menu shadow animated--grow-in"
                        aria-labelledby="userDropdown">
                        <a class="dropdown-item" href="#" onclick="updatePath('Weekly Timesheet', 2)">
                            
                            Weekly Timesheet
                        </a>
                        <a class="dropdown-item" href="" onclick="updatePath('Project', 2)">
                            
                            Role
                        </a>

                    </div>
                </li>

                <!-- Nav Item - Annual Leave Management -->
                <!-- Nav Item - Annual Leave Management -->
                <li class="nav-item dropdown no-arrow">
                    <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" onclick="updatePath('Payroll Management', 1)"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Payroll Management
                    </a>
                    <!-- Dropdown - Annual Leave Management -->
                    <div class="dropdown-menu shadow animated--grow-in"
                        aria-labelledby="userDropdown">
                        <a class="dropdown-item" href="/payrollmanagement" onclick="updatePath('Payroll Report', 2)">
                            
                            Payroll Report
                        </a>
                        <a class="dropdown-item" href="" onclick="updatePath('Project', 2)">
                            
                            Role
                        </a>
    
                    </div>
                </li>
                </ul>

                 <!-- avatar -->

                <ul class="navbar-nav ml-auto">
                    <!-- Nav Item - User Information -->
                    <li class="nav-item dropdown no-arrow">
                        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" onclick="updatePath('My Profile', 1)"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            
                            <img class="img-profile rounded-circle mr-3"
                                src="{{ url_for('static', path='source/' + image_path_admin) }}">
                            <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{fullname_admin }}</span>
                            
                        </a>
                        <!-- Dropdown - User Information -->
                        <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                            aria-labelledby="userDropdown">
                            <a class="dropdown-item" href="/profile" onclick="updatePath('Profile', 2)">
                                <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                Profile
                            </a>
                            <a class="dropdown-item" href="\getcodechangepassword" onclick="updatePath('Change Password', 2)">
                                <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                Change Password
                            </a>
                            <a class="dropdown-item" href="#">
                                <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                                Activity Log
                            </a>
                            <div class="dropdown-divider"></div>
                            <p class="dropdown-item">
                                <a  href="/logout" onclick="resetLocalStorage()">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Logout
                                </a>
                            </p>
                </div>
                    </li>
                </ul>
                
            {%endif %}
            {% elif current_user.is_authenticated and roleuser == "employee" %}
            
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown no-arrow">
                    <a class="nav-link dropdown-toggle btn-lg"  href="/home" role="button" onclick="resetLocalStorage()"
                        aria-haspopup="true" aria-expanded="false">
                        <span class="mr-4 d-none d-lg-inline text-gray-1000"><i class="fas fa-home fa-fw"></i></span>
                        
                    </a>
                </li>
                <!-- Nav Item - User Management -->
                <li class="nav-item dropdown no-arrow">
                   <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" onclick="updatePath('Users', 1)"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                       Users
                   </a>
                   <!-- Dropdown - User Management -->
                   <div class="dropdown-menu shadow animated--grow-in"
                       aria-labelledby="userDropdown">
                       

                       <a class="dropdown-item" href="/groupuserpage/{{idinformationuser}}" onclick="updatePath('Groups User', 2)">
                           
                           Groups User
                       </a>

                   </div>
               </li>

                <!-- Nav Item -ERP Management -->
                <li class="nav-item dropdown no-arrow">
                   <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" onclick="updatePath('ERP', 1)"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                       ERP
                   </a>
                   <!-- Dropdown - ERP Management -->
                   <div class="dropdown-menu shadow animated--grow-in"
                       aria-labelledby="userDropdown">
                       <a class="dropdown-item" href="/WeeklyTimesheet/{{idinformationuser}}" onclick="updatePath('Weekly Timesheet', 1)">
                           
                           Weekly Timesheet
                       </a>
                       <a class="dropdown-item" href="#" onclick="updatePath('Project', 2)">
                           
                           Role
                       </a>

                   </div>
               </li>

                <!-- Nav Item - Annual Leave Management -->
                <li class="nav-item dropdown no-arrow">
                   <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" onclick="updatePath('Annual Leave', 1)"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                       Annual Leave
                   </a>
                   <!-- Dropdown - Annual Leave Management -->
                   <div class="dropdown-menu shadow animated--grow-in"
                       aria-labelledby="userDropdown">
                       <a class="dropdown-item" href="/annualLeaveemployee" onclick="updatePath('Anunual Leave', 2)">
                           
                           Anunual Leave
                       </a>
                       

                   </div>
               </li>
               </ul>

               <!-- avatar -->

               <ul class="navbar-nav ml-auto">
                <!-- Nav Item - User Information -->
                <li class="nav-item dropdown no-arrow">
                    <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" onclick="updatePath('My Profile', 1)"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        
                        <img class="img-profile rounded-circle"
                            src="{{ url_for('static', path='source/' + image_path) }}">
                        <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{fullname }}</span>
                        
                    </a>
                    <!-- Dropdown - User Information -->
                    <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                        aria-labelledby="userDropdown">
                        <a class="dropdown-item" href="/profile" onclick="updatePath('Profile', 2)">
                            <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                            Profile
                        </a>
                        <a class="dropdown-item" href="\getcodechangepassword" onclick="updatePath('Change Password', 2)">
                            <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                            Change Password
                        </a>
                        <a class="dropdown-item" href="\logout">
                            <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                            Activity Log
                        </a>
                        <div class="dropdown-divider"></div>
                        <p class="dropdown-item">
                            <a  href="\logout" onclick="resetLocalStorage()">
                                <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                Logout
                            </a>
                        </p>
                        
                    </div>
                </li>

            </ul>

            
            {% else %}
            <!-- <ul class="navbar-nav  mr-auto">
                <li class="nav-item dropdown no-arrow">
                    <a class="nav-link dropdown-toggle" href="/home" role="button"
                        aria-haspopup="true" aria-expanded="false">
    
                        <span class="mr-4 d-none d-lg-inline text-gray-1000"><i class="fas fa-home fa-fw"></i></span>
                        
                    </a>
                </li>
            </ul> -->
           
            <ul class="navbar-nav ml-auto">
                <!-- Nav Item - User Information -->
                <li class="nav-item dropdown no-arrow">
                    <a class="nav-link dropdown-toggle" href="/home" role="button"
                        aria-haspopup="true" aria-expanded="false">
    
                        <span class="mr-2 d-none d-lg-inline text-gray-1000"><i class="fas fa-home fa-fw"></i></span>
                        
                    </a>
                </li>
                <li class="nav-item dropdown no-arrow">
                    <a class="nav-link dropdown-toggle" href="#" role="button"
                        aria-haspopup="true" aria-expanded="false">

                        <span class="mr-2 d-none d-lg-inline text-gray-600 small">ABOUT</span>
                        
                    </a>
                </li>

                <li class="nav-item dropdown no-arrow">
                    <a class="nav-link dropdown-toggle" href="/signin" role="button"
                         aria-haspopup="true" aria-expanded="false">

                        <span class="mr-2 d-none d-lg-inline text-gray-600 small">SIGN IN</span>
                        
                    </a>
                </li>

                <li class="nav-item dropdown no-arrow">
                    <a class="nav-link dropdown-toggle" href="/register" role="button"
                         aria-haspopup="true" aria-expanded="false">

                        <span class="mr-2 d-none d-lg-inline text-gray-600 small">REGISTER</span>
                        
                    </a>
                </li>

                <li class="nav-item dropdown no-arrow">
                    <a class="nav-link dropdown-toggle" href="#" role="button"
                         aria-haspopup="true" aria-expanded="false">

                        <span class="mr-2 d-none d-lg-inline text-gray-600 small">CONTACT</span>
                        
                    </a>
                </li>
            </ul>
        {% endif %}

        </nav>
        
        <div  style="padding-top: 70px;">
            {% if current_user.is_authenticated and (fullname or fullname_admin) %}
            <div class="card-header row py-1 text-dark">
                <p class="ml-3 mb-0" id="pathDisplay"></p>
            </div>
            {% endif %}
        </div>
        
        </div>
        <!-- Page Wrapper -->
        <!-- display path -->

        <script>
            window.onload = function() {
                if (window.location.pathname === '/signin') {
                    resetLocalStorage();
                }
            };

            // Hàm reset dữ liệu trong localStorage
            function resetLocalStorage() {
                let path = ["Home"];
                let lastLevelClicked = 1;
                localStorage.setItem('path', JSON.stringify(path));
                localStorage.setItem('lastLevelClicked', JSON.stringify(lastLevelClicked));
                localStorage.setItem('isReloaded', 'true');
    }
            let path = JSON.parse(localStorage.getItem('path')) || ["Home"];
            let lastLevelClicked = JSON.parse(localStorage.getItem('lastLevelClicked')) || 1;
            
            function updatePath(subPath, level) {
                if (subPath === "Home") {
                    path = ["Home"];
                    lastLevelClicked = 1;   
                } else {
                    if (level <= lastLevelClicked) {
                        path = ["Home"];
                        lastLevelClicked = level;
                    }
        
                    if (path[path.length - 1] === subPath) return;
        
                    let index = path.indexOf(subPath);
                    if (index !== -1) path.splice(index + 1);
                    else path.push(subPath);
                    lastLevelClicked = level;
                }
                localStorage.setItem('path', JSON.stringify(path));
                localStorage.setItem('lastLevelClicked', JSON.stringify(lastLevelClicked));
                localStorage.setItem('isReloaded', 'true'); 
            }
            document.getElementById('pathDisplay').textContent = path.join(" / ");
        </script>
        
        <script>
            function resetLocalStorage() {
    // Xóa toàn bộ dữ liệu trong localStorage
                localStorage.clear();
}
function combinationFunction(subPath, level) {
    updatePath(subPath, level);        
    localStorage.setItem('tableName', "");
    localStorage.setItem('tailUpdate', "");

    // Lấy giá trị tableName và tailUpdate từ localStorage
    var tableName = localStorage.getItem('tableName');
    var tailUpdate = localStorage.getItem('tailUpdate');

    // Hiển thị giá trị trong console
    console.log("Table Name:", tableName);
    console.log("Tail Update:", tailUpdate);
}

        </script>
        