{% extends "_base.html" %}

{% block content %}
<style>
  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Cập nhật để hai cột bằng nhau */
    background-color: #f4f4f4;
    padding: 10px;
    height: 100vh;
    overflow: auto;
  }
  .grid-item {
    background-color: white;
    border: 1px solid #ccc;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Thêm shadow cho đẹp */
  }
  table {
    border-collapse: collapse;
    width: 100%;
  }
  th, td {
    border: 1px solid #ddd; /* Nhẹ nhàng hơn */
    padding: 8px;
    text-align: left;
  }
  th {
    background-color: #f9f9f9; /* Màu nhẹ hơn */
  }
  tr:hover {background-color: #f1f1f1;} /* Thêm hiệu ứng hover */
  .btn {
    margin-top: 10px;
  }
  .form-floating label, .form-floating input {
    width: 100%; /* Đảm bảo input rộng bằng khung */
  }
  .btn, .form-floating input {
    border-radius: 5px;
  }
</style>
<div class="row mb-2">
  <div class="ml-auto mr-4">
    <button style="width: 100px;" class="btn btn-primary" onclick="location.href='/ERP/assigngroup/{{idproject}}'">Next</button>
  </div>
  
</div>
<div class="grid-container">
  <div class="grid-item">
    <h1 class="h3 mb-3 fw-normal text-center" style="color: #007BFF;">List Task</h1>
    <table class="table">
      <thead >
        <tr>
          <th style="text-align: center;">Task</th>
          <th style="text-align: center;">Created Date</th>
          <th style="text-align: center;">Delete</th>
        </tr>
      </thead>
      <tbody>
        {% for task in tasks %}
        <tr>
          <td>{{ task[1] }}</td>
          <td>{{ task[2] }}</td>
          <td style="text-align: center;">
            <a href="/ERP/deleteTask/{{ idproject }}/{{ task[0] }}" style="color:#858796" >
              <i class="fas fa-trash-alt"></i>
          </a>
            
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <button id="toggleCreateTaskForm" class="btn btn-primary w-100 mb-3">
      <i class="fas fa-plus"></i> Create Task
    </button>
    <div id="createTaskForm" style="display: none;">
      <form role="form" method="post" action="">
        {{ form.csrf_token }}
        <div class="form-floating">
          <label>Task</label>
          <input class="login__input" type="text" name="task" value="{{ form.task }}">
        </div>
        <button class="w-100 btn btn-lg btn-primary" type="submit" name="taskbutton" value="taskbutton">Create</button>
      </form>
    </div>
  </div>
  <div class="grid-item">
    <h1 class="h3 mb-3 fw-normal text-center" style="color: #007BFF;">List Component</h1>
    <table class="table">
      <thead>
        <tr>
          <th style="text-align: center;">Component</th>
          <th style="text-align: center;">Created Date</th>
          <th style="text-align: center;">Delete</th>
        </tr>
      </thead>
      <tbody>
        {% for component in components %}
        <tr>
          <td>{{ component[1] }}</td>
          <td>{{ component[2] }}</td>
          <td style="text-align: center;">
            <a href="/ERP/deleteComponent/{{ idproject }}/{{ component[0] }}" style="color:#858796" >
              <i class="fas fa-trash-alt"></i>
          </a>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <button id="toggleCreateComponentForm" class="btn btn-primary w-100 mb-3">
      <i class="fas fa-plus"></i> Create Component
    </button>
    <div id="createComponentForm" style="display: none;">
      <form role="form" method="post" action="">
        {{ form.csrf_token }}
        <div class="form-floating">
          <label>Component</label>
          <input class="login__input" type="text" name="component" value="{{ form.component }}">
        </div>
        <button class="w-100 btn btn-lg btn-primary" type="submit" name="componentbutton" value="componentbutton">Create</button>
      </form>
    </div>
  </div>
</div>

<script>
document.getElementById("toggleCreateTaskForm").addEventListener("click", function() {
  var createTaskForm = document.getElementById("createTaskForm");
  var toggleCreateTaskBtn = document.getElementById("toggleCreateTaskForm");
  if (createTaskForm.style.display === "none") {
    createTaskForm.style.display = "block";
    toggleCreateTaskBtn.style.display = "none";
  } else {
    createTaskForm.style.display = "none";
    toggleCreateTaskBtn.style.display = "block";
  }
});

document.getElementById("toggleCreateComponentForm").addEventListener("click", function() {
  var createComponentForm = document.getElementById("createComponentForm");
  var toggleCreateComponentBtn = document.getElementById("toggleCreateComponentForm");
  if (createComponentForm.style.display === "none") {
    createComponentForm.style.display = "block";
    toggleCreateComponentBtn.style.display = "none";
  } else {
    createComponentForm.style.display = "none";
    toggleCreateComponentBtn.style.display = "block";
  }
});
</script>

{% endblock %}
