{% extends "_base.html" %}

{% block content %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card custom-card">
        <div class="card-body">
          <h1 class="h3 mb-3 fw-normal text-center">Assign Group</h1>
          <form method="post" action="" class="needs-validation" novalidate>
            <div class="form-group">
              <label >Select Group</label>
              <select class="form-control" id="group" name="group">
                {% for group in groups %}
                <option value="{{ group[0] }}">{{ group[1] }}</option>>
                {% endfor %}
              </select>
            </div>

              <div class="invalid-feedback">Please select a group.</div>
            </div>
            <button class="btn btn-primary btn-lg btn-block" type="submit">Assign</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
