{% extends "_base.html" %}

{% block content %}

<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <main class="form-signin w-100 m-auto">
      <form method="post" action="">
        
        <h1 class="h3 mb-3 fw-normal text-center">assign group</h1>
        <div class="col-md-6">
          <label for="roletype" class="mb-0"> Select group</label>
            <select class="form-select" id="group" name="group" style="width: 200px;">
              {% for group in groups %}
              <option value="{{ group[0] }}">{{ group[1] }}</option>
              {% endfor %}
            </select>
        </div>
          
        <button class="w-100 btn btn-lg btn-primary" type="submit">assign</button>
      </form>
    </main>
  </div>
  <div class="col-md-4"></div>
</div>

{% endblock %}