{% extends "_base.html" %}

{% block content %}

<body class="body_login">
    <div class="row justify-content-center">
        <div class="col-md-5">
            <main class="form-signin">
                <form role="form" method="post" action="">
             
                    <h1 class="h3 mb-3 fw-normal text-center">UPDATE PROJECT</h1>
                    <div class="form-floating mb-3">
                        <label for="projectname">Project Name</label>
                        <input type="text" class="form-control" id="projectname" name="projectname" value="{{ projectname }}" >
                    </div>
                    
                    <div class="form-floating mb-3">
                        <label for="projecttype">Project Type</label>
                        <select type="text" class="form-control" id="projecttype" name="projecttype"  >
                            <option value="{{ projecttypeid }}">{{ projecttypename }}</option>
                                {% for project in projecttype %}
                                <option value="{{ project[0] }}">{{ project[1] }}</option>
                                {% endfor %}
                        </select>
                    </div>
                    
                    
                    <div class="form-floating mb-3 row">
                        <button type="button" onclick="location.href='/ERP/assigngroup/{{idproject}}'" class=" col btn btn-primary mr-2">Update</button>
                        <button type="button" onclick="location.href='/ERP/createtaskandcomponent/{{idproject}}'" class=" col btn btn-success mr-2">Task and Component</button>
                        <button type="button" onclick="location.href='/ERP/deleteproject/{{idproject}}'" class=" col btn btn-danger ">Delete</button>
                    </div>
                    
                </form>
            </main>
        </div>
    </div>
</body>


{% endblock %}
